body {
  background: silver;
  padding: 0px;
  margin: 0px;
}

#footer {
  padding: 0px;
  margin: 0px;  
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

#footer button {
  width: 49%;
}