@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,700');

body {
    font-family: 'Exo 2', sans-serif; 
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    background: rgb(241, 237, 237);
}


button {
    background: #e5e7ec;
    color: black;
    cursor: pointer;
    padding: 5px;
    transition: background-color, color 350ms linear;
}

button:hover {
    background: #b8bdc9;
    color: white;
    cursor: pointer;
}
  
#save {
    padding: 10px;
    width: 100%;
}