body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Cabin Condensed', sans-serif;
    font-family: 'Khand', sans-serif;    
    padding: 0px;
    margin: 0px;
    background: rgb(241, 237, 237);
}


button {
    background: #658dff;
    color: white;
    cursor: pointer;
    padding: 5px;
    transition: background-color 500ms linear;
}

button:hover {
    background: #2358e9;
    cursor: pointer;
}
  
#save {
    padding: 10px;
    width: 100%;
}